@model  BookDownloader.ViewModels.BookViewModelSelect

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="form-group row">
    <input type="text" placeholder="Search" class="form-control col-md-9"  /> <button class="btn btn-success ml-2 col-md-1"> Search</button>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
             Name
            </th>
            <th>
               CategoryID
            </th>
            <th>
                ImageUrl
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @await Html.PartialAsync("_Pager",Model.PagerView)
</div>
